@inherits LayoutComponentBase

<div class="page" style="background-color: #778da9">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth" style="background-color: #1b263b; border-bottom: 0">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
