@page "/"
@inherits ContactsBase

@if (Contacts == null)
{
    <h3>No content to display</h3>
    <DisplaySpinner />
}
else
{
    <div class="row mb-3">
        <div class="col-md-6">
            <h3>Contacts</h3>
        </div>
        <div class="col-md-6 text-md-end">
            <a href="create-contact" class="btn btn-primary">Add New</a>
        </div>
    </div>
    @if (Contacts.Any())
    {
        const int itemsPerRow = 4;
        var contactRowList = new List<ContactDto>();

        @for (int i = 0; i < Contacts.Count(); i += itemsPerRow)
        {
            contactRowList = Contacts.Skip(i).Take(itemsPerRow).ToList();

            <div class="row mt-3">
                <DisplayContacts Contacts="@contactRowList"></DisplayContacts>
            </div>
        }
    }
    else
    {
        <p>No contacts found.</p>
    }
}