@inherits DisplayContactsBase

<div class="row">
    @foreach (var contact in Contacts)
    {
        <div class="col-md-12 mb-3">
            <a href="/ContactDetails/@contact.Id">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            @contact.FirstName @contact.LastName
                        </h5>
                        <p class="card-text">
                            Phone: @contact.PhoneNumber
                        </p>
                        <p class="card-text">
                            Email: @contact.Email
                        </p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
