a[b-fisi8n9mgp] {
    text-decoration: none;
}

    a:hover .card[b-fisi8n9mgp] {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: box-shadow 0.3s ease-in-out;
    }

.card[b-fisi8n9mgp] {
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
}
